* {
  margin: 0;
}

.App {
  background-color: #0e0e0e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  height: 675px;
  background-color: rgb(99, 142, 142);
  margin: auto;
  display: flex;
  align-items: center;
}

.main {
  width: 715px;
  height: 550px;
  background-color: rgb(244, 172, 4);
  margin: auto;
  border-radius: 8px;
  display: flex;
}

.left-image {
  height: 100%;
  width: 50%;
  
 
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.login-content {
  width: 235px;
  height: 250px;
  margin: auto;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
 
}